.Page10 {
    text-align: center;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    position: relative;
    height: 100%;
    
  }
  
  /* 헤더 텍스트 */
  .header-text {
    font-size: calc(12px + 1vmin); /* 화면 크기에 맞춰 텍스트 크기 조정 */
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  
  /* 카드 컨테이너 */
  .card-container {
    display: grid;
    gap: 60px 20px;
    grid-template-columns: repeat(3, 1fr); /* 가로 3개씩 */
    height: 80%;
  }
  
  /* 서비스 카드 */
  .page10service-card {
    background-color: #2f3d86;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: 280px; /* 카드 크기 */
    height: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 10px;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .service-title {
    font-size: 50px;
    margin: 5px 0;
    color: white;
    height: 70%;
    
  }
  
  .service-price {
    font-size: 40px;
    color: white;
    margin: 0;
    text-align: end;
  }
  
  /* 푸터 텍스트 */
  .footer-text {
    font-size: calc(10px + 1vmin); /* 화면 크기에 맞춰 텍스트 크기 조정 */
    color: #333;
    margin-top: 20px;
  }
  
  /* 헤더 스타일 */
  .App-header {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin); /* 화면 크기에 맞춰 폰트 크기 동적 조정 */
    color: white;
  }

.box-style {
    width: 90%;
    height: 1700px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    border: 1px rgb(255, 255, 0.5);
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
  }

.trans-parent-box {
    width: 800px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    display: flex;
    justify-Content: center;
    align-items: center;
    border-radius: 35px;
    border: 1px rgb(255, 255, 0.5); 
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
}
  