.page9-container {
  background-image: url('../src/assets/loading.jpeg'); /* 배경 이미지 경로 */
  height: 100vh; /* 뷰포트 높이 */
  width: 100vw; /* 뷰포트 너비 */
  background-size: contain; /* 비율 유지 + 이미지 전체 보이기 */
  background-position: center; /* 이미지를 중앙 정렬 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
